/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body {

	/* background-image: url("images/brain.svg"), url("images/atom.svg");
	background-repeat: space;
	background-position: right;
	margin-right: 300px;
	background-attachment: scroll; */
  max-width: 900px;
  min-width: 425px;
  padding: 0 25px 0 25px;
  margin: auto;
  margin-top: 20px;
	align-items: center;
}

h1 {
font-family: 'Fredoka One', monospace;
font-size: 80px;
/* text-shadow: 0px 0px 10px darkgreen, 2px 2px 4px lightgreen; */
line-height: 95px;
margin-bottom: 5px;
letter-spacing: 3px;
font-weight: 700;
color: green;
max-width: 900px;
min-width: 400px;
}
h2 {
font-family: 'Comfortaa', sans-serif;
font-weight: 500;
font-size: 40px;
line-height: 60px;
color: #6495ED;
margin-bottom: 5px;
margin-top: 20px;
font-weight: 400;
max-width: 850px;
}
h3 {
font-family: 'Bellota';
font-weight: 400;
font-size: 25px;
color: Tomato;
line-height: 40px;
margin-bottom: 5px;
margin-top: 20px;
font-weight: 400;
align-items: center;
}

p {
	max-width: 850px;
	min-width: 325px;
	font-family: 'Roboto Slab', serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: .02em;
  font-variant-numeric: oldstyle-nums;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphenate-limit-lines: 2;
  -webkit-hypenate-limit-lines: 2;
  hyphenate-limit-chars: 7 3 3;
  -webkit-hypenate-limit-before: 3;
  -webkit-hypenate-limit-after: 3;


}
